.side_user
  .side_bar
    .name_bar
      .name_bar__name
        masa
      .name_bar__btn
        = link_to"#", class:"group__btn" do
          = icon('far','edit', class: "group__btn--icon")
        = link_to"#", class:"setting__btn" do
          = icon('fas','cog', class: "setting__btn--icon")
  .group_name
    .group_name__tech
      techcamp
    .group_name__message
      メッセージはありません